.scoreBox {
    -fx-text-size: 100;
    -fx-text-color: brown
}
.loaderPane {
    -fx-background-color: black;
}

.inventoryMenu {
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-background-image: url("../../../assets/bag.jpeg");
    -fx-background-size: contain;
}