.configContainer {
    -fx-background-image: url("../../../assets/config_screen.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}
.pickWeaponTile {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-padding: 0;
}
.pickWeaponTile:hover {
    -fx-border-color: red;
}

.selected {
    -fx-border-color: blue;
}