.configContainer {
    -fx-background-image: url("../../../assets/config_screen.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-size: default;
}
.pickWeaponTile {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: black;
}
.pickWeaponTile:hover {
    -fx-border-color: red;
}