.hBoxMainContainer {
    -fx-background-image: url("../../../assets/img_welcome.png");
    -fx-text-fill: blue;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-repeat: repeat;
    -fx-alignment: center;
}

.welcomeButton {
    -fx-padding: 190 0;
    -fx-pref-height: 50;
    -fx-min-width: 200;
    -fx-background-color: transparent;
    -fx-font-size: 50;
    -fx-text-fill: red;
}