.scoreBox {
    -fx-text-size: 100;
    -fx-text-color: brown
}
.loaderPane {
    -fx-background-color: black;
}

.inventoryMenu {
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-background-image: url("../../../assets/bag.jpeg");
    -fx-background-size: contain;
}

.weapon1 {
    -fx-background-image: url("../../../assets/weapon1.png");
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-size: contain;
    -fx-background-color: transparent;
}
.weapon2 {
    -fx-background-image: url("../../../assets/weapon2.png");
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-size: contain;
    -fx-background-color: transparent;
}
.weapon3 {
    -fx-background-image: url("../../../assets/weapon3.png");
    -fx-pref-height: 100;
    -fx-pref-width: 100;
    -fx-background-size: contain;
    -fx-background-color: transparent;
}